{% extends "::resetting.html.twig" %}

{% block body %}
<div id="login" class="resetting">
    <h1 style="text-align:center">You forgot you password? Don't worry!</h1>
    <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
</div>
{% endblock %}
